@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Career</span>
        </div>
    </nav>

    <div class="container">
        <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 ">
                        <h4 class="card-title "><b>OPERATIONS COORDINATOR, DIGITAL BUSINESS</b></h4>

                    </div>
                    <div class="col">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p class="card-text text-muted small ">
                                VNG Digital Business, a part of VNG's digital ecosystem, focuses on providing a wide range of B2B products and services using advanced technologies such as blockchain, AI, cloud computing, and security. Our data center is Tier III accredited, ensuring secure operations, data preservation, and scalability. With our expertise and technological capabilities, we aim to be a leading force in driving the nation's digital transformation.
                            </p>
                        </h6>
                    </div>
                </div>

            </div>

            <div class="card-footer bg-white px-0 ">
                <div class="row">

                    <div class=" col-md-auto ">
                        <small>17-09-2023 - 17-10-2023</small>

                        <span class="vl ml-3"></span>

                        <small>Tp.Hồ Chí Minh</small>

                        <span class="vl ml-3"></span>

                        <small>Price: 1000$</small>


                        <div>
                            <button class="btn btn-success" id="btnRegister">Apply For Job</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Template CSS -->
<link rel="stylesheet" href="~/assets/css/Career/Index.css">
<link rel="stylesheet" href="~/assets/css/style-starter.css">
<!-- JS -->
<script src="~/js/User/Login.js"></script>
