@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Dentile a Medical Category Bootstrap Responsive Website Template | About :: W3layouts
    </title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
</head>

<body>
 
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
        </div>
    </nav>

    <!-- feature1 -->
    <section class="w3l-feature-1">
        <div class="feature-1sec py-5">
            <div class="container py-lg-5">
                <div class="feature-1-content">
                    <img src="~/assets/images/a2.jpg" class="img-fluid" alt="" />
                    <h3 class="hny-title mt-4">About Us - XYZ Pharmaceuticals</h3>
                    <p class="mt-2">Welcome to XYZ Pharmaceuticals, where we are committed to bringing innovation and quality to the pharmaceutical industry. With over a decade of experience and an unwavering passion for creativity and research, we take pride in being a reliable partner for the development and manufacturing of high-quality pharmaceutical products.</p>
                    </br>
                    <h3 class="hny-title mt-4">Our Mission</h3>
                    <p class="mt-2">Our mission is to contribute to human development and the improvement of the quality of life through the provision of safe, effective, and cutting-edge pharmaceutical products. We are committed to creating pharmaceutical solutions based on advanced research and pioneering technology to meet the needs of our global customers and partners.</p>
                    </br>
                    <h3 class="hny-title mt-4">Our Products and Services</h3>
                    <p class="mt-2">XYZ Pharmaceuticals specializes in the manufacture and supply of a wide range of pharmaceutical products, including Capsule/Encapsulation, Tablet, Liquid Filling, Blending, and Process Equipment. We offer comprehensive solutions for businesses in the pharmaceutical industry, from the research process to mass production. Quality and innovation are always our top priorities at XYZ Pharmaceuticals.</p>
                    </br>
                    <h3 class="hny-title mt-4"><a href="@Url.Action("Contact","Home")">Contact Us</a><img src="~/assets/images/contactus.png" alt=" " height="75" width="90" /></h3>
                    <p class="mt-2">
                        We are always ready to listen and support you. If you have any questions or requests, please do not hesitate to get in touch with us. We are confident that we can accompany you in achieving your business and research goals in the pharmaceutical industry.

                        XYZ Pharmaceuticals is committed to providing dedication and outstanding service. Thank you for visiting our website, and we look forward to working with you to achieve significant successes in the future.
                    </p>
                </div>
            </div>
        </div>
    </section>
   
   
</body>

</html>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<!--//-->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<!-- //script -->

<script src="~/assets/js/bootstrap.min.js"></script>