@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Home/_Layout.cshtml";
}


<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Dentile a Medical Category Bootstrap Responsive Website Template | Recruitment :: W3layouts
    </title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
</head>

<body>

    <!-- //w3l-header -->
    <!-- /breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Services</span>
        </div>
    </nav>
    <!-- //breadcrumbs -->
    <!-- services block 2 -->
    <div class="w3l-services-block py-5" id="classes">
        <div class="container py-lg-5 py-md-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">What We Offer</h6>
                </br>
                <h3 class="hny-title">Eployment Information</h3>
                <p>Good luck ^^</p>
            </div>
            <div class="services-block_grids_bottom">
                <div class="row">
                    <div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
                        <div class="service_grid_btm_left1">
                            <a href="#"><img src="~/assets/images/g1.jpg" alt=" " class="img-fluid" /></a>
                            <div class="service_grid_btm_left2">
                                <h5>Cosmetic Dentistry</h5>
                                <p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
                                <div class="read">
                                    <a class="btn mt-4" href="services.html">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
                        <div class="service_grid_btm_left1">
                            <a href="#"><img src="~/assets/images/g2.jpg" alt=" " class="img-fluid" /></a>
                            <div class="service_grid_btm_left2">

                                <h5>Pediatric Dentistry</h5>
                                <p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
                                <div class="read">
                                    <a class="btn mt-4" href="services.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
                        <div class="service_grid_btm_left1">
                            <a href="#"><img src="~/assets/images/g3.jpg" alt=" " class="img-fluid" /></a>
                            <div class="service_grid_btm_left2">
                                <h5>Dental Implants</h5>
                                <p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
                                <div class="read">
                                    <a class="btn mt-4" href="services.html">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- // services block2 -->
    
    <!-- features-4 -->
    <!-- /specification-6-->
   
    <!-- //specification-6-->
    <!-- footer-66 -->
    
    <!--//footer-66 -->
</body>

</html>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<!--//-->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //script -->
<!-- stats -->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<script src="~/assets/js/bootstrap.min.js"></script>

