@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Dentile a Medical Category Bootstrap Responsive Website Template | Shop :: W3layouts
    </title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    
</head>

<body>

    <!-- //w3l-header -->
    <!-- /breadcrumbs -->

    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Shop</span>
        </div>
    </nav>
    <!-- //breadcrumbs -->
    <!-- Shop block 2 -->
    <div class="w3l-Shop-block py-5" id="classes">
		
        <div class="ads-grid py-5">
			
		<div class="container py-md-5 py-4">
				<h6 class="sub-title">What We Offer</h6>
				<p>Lorem illum facere aperiam consectetur adipisicing elit</p>

			<!-- tittle heading -->
			<h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
					<span class="font-weight-normal">List</span> New Products
				</h2>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product right -->
				<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0 order-lg-first order-last">
					<div class="side-bar p-sm-4 p-3">
						<!-- reviews -->
						
						<div class="left-side py-2">
							<h3 class="agileits-sear-head mb-3">Discount</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">10% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">20% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">30% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">50% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">60% or More</span>
								</li>
							</ul>
						</div>
						<!-- //discounts -->
						<!-- electronics -->
						<div class="left-side py-2">
							<h3 class="agileits-sear-head mb-3">Electronics</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Cameras &amp; Photography</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Car &amp; Vehicle Electronics</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Computers &amp; Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">GPS &amp; Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Headphones</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Home Audio</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Home Theater, TV &amp; Video</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Mobiles &amp; Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Portable Media Players</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Tablets</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Telephones &amp; Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Wearable Technology</span>
								</li>
							</ul>
						</div>
						<!-- //electronics -->
					
						<!-- //arrivals -->
						<!-- best seller -->
						<div class="f-grid py-2">
							<h3 class="agileits-sear-head mb-3">Best Seller</h3>
							<div class="box-scroll">
								<div class="scroll" style="top: -37.9008px;">
									<div class="row">
										<div class="col-lg-3 col-sm-2 col-3 left-mar">
											<img src="images/k1.png" alt="" class="img-fluid">
										</div>
										<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
											<a href="">Samsung Galaxy F62 (Laser Grey, 128 GB) (6 GB RAM)</a>
											<a href="" class="price-mar mt-2">$12,990.00</a>
										</div>
									</div>
									<div class="row my-4">
										<div class="col-lg-3 col-sm-2 col-3 left-mar">
											<img src="images/k2.png" alt="" class="img-fluid">
										</div>
										<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
											<a href="">Samsung 192 L Direct Cool Single Door 3 Star (2021)
												Refrigerator</a>
											<a href="" class="price-mar mt-2">$12,499.00</a>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-sm-2 col-3 left-mar">
											<img src="images/k3.png" alt="" class="img-fluid">
										</div>
										<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
											<a href="">boAt Rockerz 450 Bluetooth Headset (Luscious Black, On the
												Ear)</a>
											<a href="" class="price-mar mt-2">$1,199.00 </a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //best seller -->
					</div>
					<!-- //product right -->
				</div>
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9 order-lg-last order-first">
					<div class="wrapper">
						<!-- first section -->
							<div class="container py-lg-5 py-md-5">
								
								<div class="Shop-block_grids_bottom">
									<div class="row">
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g1.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Cosmetic Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g2.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">

													<h5>Pediatric Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g3.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Dental Implants</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g4.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Preventive Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g5.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Periodontal Therapy</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g6.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Teeth Whitening</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
									</div></br></br>
									<div>
										<nav class="mb-5" aria-label="Page navigation sample">
											<ul class="pagination">
												<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#">Next</a></li>

											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- 5th section -->
					</div>
				</div>
				<!-- //product left -->
			</div>
		</div>
	</div>
        
    <!-- // Shop block2 -->
    <section class="features-4">
        <div class="features4-block py-5">
            <div class="container py-lg-5">
                <div class="title-content text-left mb-lg-5 mt-4">
                    <h6 class="sub-title-1">Features</h6>
                    <h3 class="hny-title two">Some More Features</h3>
                    <p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
                </div>
                <div class="row features4-grids text-left">
                    <div class="col-lg-3 col-md-6 features4-grid">
                        <div class="features4-grid-inn">
                            <span class="fa fa-pencil-square-o icon-fea4" aria-hidden="true"></span>
                            <h5><a href="#URL">Free Check up</a></h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid">
                        <div class="features4-grid-inn">
                            <span class="fa fa-umbrella icon-fea4" aria-hidden="true"></span>
                            <h5><a href="#URL">Always Open</a></h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid third">
                        <div class="features4-grid-inn">
                            <span class="fa fa-cogs icon-fea4" aria-hidden="true"></span>
                            <h5>
                                <a href="#URL">
                                    Serve with Smile
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid">
                        <div class="features4-grid-inn">
                            <span class="fa fa-spinner icon-fea4" aria-hidden="true"></span>
                            <h5><a href="#URL">Work with Hearts</a></h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- features-4 -->
    <!-- /specification-6-->
    <section class="w3l-specification-6">
        <div class="specification-6-mian py-5">
            <div class="container py-lg-5">
                <div class="row story-6-grids text-left">
                    <div class="col-lg-5 story-gd">
                        <img src="~/assets/images/ab1.jpg" class="img-fluid" alt="/">
                    </div>
                    <div class="col-lg-7 story-gd pl-lg-4">
                        <div class="title-content text-left mb-lg-5 mt-4">
                            <h6 class="sub-title">For a New smile</h6>
                            <h3 class="hny-title">Caring Technologies For Your Dental Health</h3>
                            <p>
                                Lorem illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit totam
                                animi
                                consequatur saepe blanditiis.Lorem ipsum dolor sit amet
                            </p>
                        </div>
                        <div class="skill_info mt-lg-5 mt-4">
                            <div class="stats_left">
                                <div class="counter_grid">
                                    <div class="icon_info">
                                        <p class="counter">165</p>
                                        <h4>Daily appointments</h4>
                                        <p class="counter-para">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="stats_left">
                                <div class="counter_grid">
                                    <div class="icon_info">
                                        <p class="counter">563</p>
                                        <h4>Happy Clients</h4>
                                        <p class="counter-para">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //specification-6-->
    <!-- footer-66 -->
    
    <!--//footer-66 -->
</body>

</html>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<!--//-->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //script -->
<!-- stats -->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<script src="~/assets/js/bootstrap.min.js"></script>

