@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Home/_Layout.cshtml";
}


<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Dentile a Medical Category Bootstrap Responsive Website Template | Shop :: W3layouts
    </title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    
</head>

<body>

    <!-- //w3l-header -->
    <!-- /breadcrumbs -->

    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Shop</span>
        </div>
    </nav>
    <!-- //breadcrumbs -->
    <!-- Shop block 2 -->
    <div class="w3l-Shop-block py-5" id="classes">
		
        <div class="ads-grid py-5">
			
		<div class="container py-md-5 py-4">
				<h6 class="sub-title">What We Offer</h6>
				<p>Lorem illum facere aperiam consectetur adipisicing elit</p>

			<!-- tittle heading -->
			<h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
					<span class="font-weight-normal">List</span> New Products
				</h2>
			<!-- //tittle heading -->
			<div class="row">
				<!-- product right -->
				<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0 order-lg-first order-last">
					<div class="side-bar p-sm-4 p-3">
						<!-- reviews -->
						
						
						<!-- //discounts -->
						<!-- electronics -->
						<div class="left-side py-2">
							<h3 class="agileits-sear-head mb-3">Electronics</h3>
							<ul>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Cameras &amp; Photography</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Car &amp; Vehicle Electronics</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Computers &amp; Accessories</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">GPS &amp; Accessories</span>
								</li>
								
							</ul>
						</div>
						<!-- //electronics -->
					
						<!-- //arrivals -->
						<!-- best seller -->
						
						<!-- //best seller -->
					</div>
					<!-- //product right -->
				</div>
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-9 order-lg-last order-first">
					<div class="wrapper">
						<!-- first section -->
							<div class="container py-lg-5 py-md-5">
								
								<div class="Shop-block_grids_bottom">
									<div class="row">
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g1.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Cosmetic Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g2.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">

													<h5>Pediatric Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g3.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Dental Implants</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g4.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Preventive Dentistry</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g5.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Periodontal Therapy</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 service_grid_btm_left mt-lg-5 mt-4">
											<div class="service_grid_btm_left1">
												<a href="#"><img src="~/assets/images/g6.jpg" alt=" " class="img-fluid" /></a>
												<div class="service_grid_btm_left2">
													<h5>Teeth Whitening</h5>
													<p>Maecenas sodales eu velit in varius. vitae sem vitae urna tempus commodo.</p>
													<div class="read">
														<a class="btn mt-4" href="Shop.html">Read More</a>
													</div>
												</div>

											</div>
										</div>
									</div></br></br>
									<div>
										<nav class="mb-5" aria-label="Page navigation sample">
											<ul class="pagination">
												<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#">Next</a></li>

											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- 5th section -->
					</div>
				</div>
				<!-- //product left -->
			</div>
		</div>
	</div>
        
    
    <!-- //specification-6-->
    <!-- footer-66 -->
    
    <!--//footer-66 -->
</body>

</html>

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<!--//-->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //script -->
<!-- stats -->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<script src="~/assets/js/bootstrap.min.js"></script>

