@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-2 border-right">
           
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Register</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">User Name</label><input type="text" class="form-control" placeholder="Enter UserName" value=""></div>
                    <div class="col-md-6"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Enter Email" value="" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Phone Number</label><input type="text" class="form-control" placeholder="Enter phone number" value="" ></div>
                    <div class="col-md-6"><label class="labels">Address</label><input type="text" class="form-control" placeholder="Enter addesss" value="" ></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Password</label><input type="text" class="form-control" placeholder="Enter password" value=""></div>
                    <div class="col-md-6"><label class="labels">Retype Password</label><input type="text" class="form-control" placeholder="Retype Password" value=""></div>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-primary" id="btnRegister">Register</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>


<!-- Template CSS -->
<link rel="stylesheet" href="~/assets/css/User/Register.css">
<link rel="stylesheet" href="~/assets/css/style-starter.css">
<!-- JS -->
<script src="~/js/User/Register.js"></script>